@model IEnumerable<Authentication.SASToken.TokenSource>
@{
    ViewData["Title"] = "Example SASToken Authentication";
}
<div v-cloak>
    <div class="token-source" v-for="ts in tokenSources">
        <div><label>Id: </label>{{ts.Id}}</div>
        <div><label>Name: </label>{{ts.Name}}</div>
        <div><label>Version: </label>{{ts.Expiration}}</div>
        <div><label>Url: </label>{{ts.Uri}}</div>
        <div><label>Secret: </label>{{ts.Secret}}</div>
        <div><label>Expiration: </label>{{ts.Expiration}}</div>
        <button @@click="getToken(ts)">Generate Token</button>
        <div v-if="ts.token">
            <div><label>Token: </label>{{ts.token}}</div>
            <button @@click="getApiClaimsQS(ts.token)">Try It</button>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        window.page = {
            model : { "tokenSources": @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)) }
        };

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}